@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark ;
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #03373d;
  --color-secondary: #caeb66;
}

body{   
  font-family: "Urbanist", sans-serif;
}

.swiper-pagination-bullet {
  background-color: #d1d5db;
  
  /* text-gray-300 */
}

.swiper-pagination-bullet-active {
  background-color: #caeb66  !important ; 
}

.stroke-text {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

